* {
    box-sizing: border-box;
  }
  
  html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: var(--background-color);
    min-height: 100vH;
    display: flex;
    flex-direction: column;
  }

  body {
    padding: 0 2.5vW 0 2.5vW;
    text-align: center;
    color: var(--font-color);
    font-size: 1.5rem;
  }

  :root {
    --background-color: #4E6E81;
    --sub-color: #2E3840;
    --door-color: hsl(0deg 30% 45%);
    --font-color: #ffffff;
    --title-color: hsl(80deg 30% 60%);
    --door-width: clamp(150px, calc(80vw/3), 300px);
    --door-heigth: calc(var(--door-width)*1.25)
  }
    
  #title {
    text-shadow: 2.5px 5px 5px var(--sub-color);
    color: var(--title-color);
  }

  footer {
    margin-top: auto;
    font-size: 1.25rem;
  }

  #doors-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    grid-gap: 25px; 
  }

  .door-sign {
    background-color: var(--sub-color);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border: calc(var(--door-width)/60) solid var(--sub-color);
  }

  .door {
    width: var(--door-width);
    height: var(--door-heigth);
    margin: 0px;
    padding: 0px;
    border: calc(var(--door-width)/60) solid var(--sub-color);
    border-top: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
  }

  .door .left {
    content: "";
    background-color: var(--door-color);
    height: 100%;
    width: 50%;
    animation-fill-mode: forwards;
  }

  .door .right {
    content: "";
    background-color: var(--door-color);
    height: 100%;
    width: 50%;
    animation-fill-mode: forwards;
  }

  @keyframes open-door {
    from { width: 50%; }
    to { width: 1%; }
  }

  @keyframes close-door {
    from { width: 1%; }
    to { width: 50%; }
  }

  .user-choice {
    box-shadow: 0px 0px 10px 2.5px var(--title-color);
  }

  #stats-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    text-align: left;
  }

  #stats-section h2 {
    flex-basis: 100%;
    text-align: center;
  }

  .stats-container {
    width: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    border: 2px solid var(--sub-color);
    padding: 10px;
  }

  .stats-container h4 {
    grid-column: 1 / span 2;
    margin: 0;
  }

  .stats-container label {
    grid-column: 1 / span 1;
    text-align: left;
  }

  .stats-container p {
    grid-column: 2 / span 1;
    margin: 0;
  }

  #rules-section {
    max-width: clamp(300px, 60%, 700px);
    margin: auto;
  }
